<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/images/cloud.png">
</head>
<body>
<div class="main-content">
    {{>header}}

    <p>
        This site was created by Aitha Tarun.
        It uses mapbox and openweather API, to fetch location and weather forecast.
    </p>
    <br>
    <img class="portrait" src="./images/Predator%20Icon.ico">
</div>

{{>footer}}
</body>
</html>