<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/images/cloud.png">
</head>
<body>
<div class="main-content">
    {{>header}} <!-- Placing a partial -->

    <p>
        {{message}}
    </p>
</div>

{{>footer}}
</body>
</html>